<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${bundle:application:log4j2.rootLogger.level}">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="org.hibernate" level="${bundle:application:log4j2.hibernateLogger.level}" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>
